### IntelliJ IDEA ###
# Exclude project-specific settings
.idea/
*.iml
*.ipr
*.iws

# Exclude build output directories
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Exclude logs
*.log

# Exclude temporary files
*.tmp

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### macOS ###
.DS_Store
